@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/* ------------------------------------  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
}

#container {
  display: flex;
  width: 45rem;
  height: 17rem;
  border-radius: 1rem;
  background-color: blueviolet;
  color: white;
  margin: auto;
  margin-top: 13rem;
  overflow: hidden;
}

#left-section {
  width: 20rem;
  height: 21rem;
}

#right-section {
  width: 40rem;
  height: 21rem;
  background-color: hsl(0, 0%, 100%);
}

#first-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5rem;
  color: rgb(58, 58, 58);
  padding-bottom: 1.2rem;
}

#second-heading {
  color: hsl(217, 19%, 35%);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.marge {
  padding-left: 2rem;
  padding-top: 3rem;
  margin-right: 4rem;
}

#profile {
  display: flex;
  align-items: center;
}

#profile_image {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}

#profile-info {
  font-size: 13px;
}
